<p id="notice"><%= notice %></p>

<p>
  <strong>Szerokość:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Długość:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @place.description %>
</p>

<%= link_to 'Edytuj', edit_place_path(@place) %> |
<%= link_to 'Wróć', places_path, 'data-no-turbolink' => true %>
